.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.j-spaceBetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.j-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.j-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.f-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wr-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
}

@media (max-width: 576px) {
  .row .col-xs-1 {
    width: 8.33333%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .row .col-sm-1 {
    width: 8.33333%;
    padding: 10px;
  }
}

@media (max-width: 992px) {
  .row .col-md-1 {
    width: 8.33333%;
    padding: 10px;
  }
}

@media (max-width: 1140px) {
  .row .col-lg-1 {
    width: 8.33333%;
    padding: 10px;
  }
}

@media (min-width: 1140px) {
  .row .col-xl-1 {
    width: 8.33333%;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .row .col-xs-2 {
    width: 16.66667%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .row .col-sm-2 {
    width: 16.66667%;
    padding: 10px;
  }
}

@media (max-width: 992px) {
  .row .col-md-2 {
    width: 16.66667%;
    padding: 10px;
  }
}

@media (max-width: 1140px) {
  .row .col-lg-2 {
    width: 16.66667%;
    padding: 10px;
  }
}

@media (min-width: 1140px) {
  .row .col-xl-2 {
    width: 16.66667%;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .row .col-xs-3 {
    width: 25%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .row .col-sm-3 {
    width: 25%;
    padding: 10px;
  }
}

@media (max-width: 992px) {
  .row .col-md-3 {
    width: 25%;
    padding: 10px;
  }
}

@media (max-width: 1140px) {
  .row .col-lg-3 {
    width: 25%;
    padding: 10px;
  }
}

@media (min-width: 1140px) {
  .row .col-xl-3 {
    width: 25%;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .row .col-xs-4 {
    width: 33.33333%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .row .col-sm-4 {
    width: 33.33333%;
    padding: 10px;
  }
}

@media (max-width: 992px) {
  .row .col-md-4 {
    width: 33.33333%;
    padding: 10px;
  }
}

@media (max-width: 1140px) {
  .row .col-lg-4 {
    width: 33.33333%;
    padding: 10px;
  }
}

@media (min-width: 1140px) {
  .row .col-xl-4 {
    width: 33.33333%;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .row .col-xs-5 {
    width: 41.66667%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .row .col-sm-5 {
    width: 41.66667%;
    padding: 10px;
  }
}

@media (max-width: 992px) {
  .row .col-md-5 {
    width: 41.66667%;
    padding: 10px;
  }
}

@media (max-width: 1140px) {
  .row .col-lg-5 {
    width: 41.66667%;
    padding: 10px;
  }
}

@media (min-width: 1140px) {
  .row .col-xl-5 {
    width: 41.66667%;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .row .col-xs-6 {
    width: 50%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .row .col-sm-6 {
    width: 50%;
    padding: 10px;
  }
}

@media (max-width: 992px) {
  .row .col-md-6 {
    width: 50%;
    padding: 10px;
  }
}

@media (max-width: 1140px) {
  .row .col-lg-6 {
    width: 50%;
    padding: 10px;
  }
}

@media (min-width: 1140px) {
  .row .col-xl-6 {
    width: 50%;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .row .col-xs-7 {
    width: 58.33333%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .row .col-sm-7 {
    width: 58.33333%;
    padding: 10px;
  }
}

@media (max-width: 992px) {
  .row .col-md-7 {
    width: 58.33333%;
    padding: 10px;
  }
}

@media (max-width: 1140px) {
  .row .col-lg-7 {
    width: 58.33333%;
    padding: 10px;
  }
}

@media (min-width: 1140px) {
  .row .col-xl-7 {
    width: 58.33333%;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .row .col-xs-8 {
    width: 66.66667%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .row .col-sm-8 {
    width: 66.66667%;
    padding: 10px;
  }
}

@media (max-width: 992px) {
  .row .col-md-8 {
    width: 66.66667%;
    padding: 10px;
  }
}

@media (max-width: 1140px) {
  .row .col-lg-8 {
    width: 66.66667%;
    padding: 10px;
  }
}

@media (min-width: 1140px) {
  .row .col-xl-8 {
    width: 66.66667%;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .row .col-xs-9 {
    width: 75%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .row .col-sm-9 {
    width: 75%;
    padding: 10px;
  }
}

@media (max-width: 992px) {
  .row .col-md-9 {
    width: 75%;
    padding: 10px;
  }
}

@media (max-width: 1140px) {
  .row .col-lg-9 {
    width: 75%;
    padding: 10px;
  }
}

@media (min-width: 1140px) {
  .row .col-xl-9 {
    width: 75%;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .row .col-xs-10 {
    width: 83.33333%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .row .col-sm-10 {
    width: 83.33333%;
    padding: 10px;
  }
}

@media (max-width: 992px) {
  .row .col-md-10 {
    width: 83.33333%;
    padding: 10px;
  }
}

@media (max-width: 1140px) {
  .row .col-lg-10 {
    width: 83.33333%;
    padding: 10px;
  }
}

@media (min-width: 1140px) {
  .row .col-xl-10 {
    width: 83.33333%;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .row .col-xs-11 {
    width: 91.66667%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .row .col-sm-11 {
    width: 91.66667%;
    padding: 10px;
  }
}

@media (max-width: 992px) {
  .row .col-md-11 {
    width: 91.66667%;
    padding: 10px;
  }
}

@media (max-width: 1140px) {
  .row .col-lg-11 {
    width: 91.66667%;
    padding: 10px;
  }
}

@media (min-width: 1140px) {
  .row .col-xl-11 {
    width: 91.66667%;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .row .col-xs-12 {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .row .col-sm-12 {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 992px) {
  .row .col-md-12 {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 1140px) {
  .row .col-lg-12 {
    width: 100%;
    padding: 10px;
  }
}

@media (min-width: 1140px) {
  .row .col-xl-12 {
    width: 100%;
    padding: 10px;
  }
}

@-webkit-keyframes blink {
  to {
    font-weight: bold;
    opacity: 1;
  }
}

@keyframes blink {
  to {
    font-weight: bold;
    opacity: 1;
  }
}

@-webkit-keyframes shaky {
  to {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
}

@keyframes shaky {
  to {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
}

@-webkit-keyframes top {
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes top {
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

html, body {
  font-family: "Jost", "Sans Serif";
}

.turn-top-button {
  width: 50px;
  height: 50px;
  background-color: #266CF9;
  position: fixed;
  top: 500px;
  right: 50px;
  z-index: 12;
  border-radius: 50%;
}

.turn-top-button:hover a {
  -webkit-animation: top 1s forwards infinite;
          animation: top 1s forwards infinite;
}

.turn-top-button a i {
  color: white;
}

header {
  background-color: #212529;
  padding: 10px 0px;
  position: relative;
}

header .header-top {
  border-bottom: 1px solid #645c5c;
  padding: 20px 0;
}

header .header-top .container p {
  color: white;
  font-size: 16px;
}

header .header-top .container ul {
  width: 45%;
}

header .header-top .container ul li i {
  color: #266BF9;
  margin-right: 10px;
}

header .header-bot {
  padding: 20px 0px;
}

header .header-bot .container .logo img {
  width: 100px;
  height: 100px;
}

header .header-bot .container .logo p {
  color: white;
}

header .header-bot .container form {
  width: 45%;
  height: 50px;
  border-radius: 10px;
}

header .header-bot .container form input {
  width: 90%;
  height: 100%;
  border: none;
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

header .header-bot .container form .search-icon {
  width: 10%;
  height: 100%;
  background-color: #266CF9;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

header .header-bot .container form .search-icon i {
  color: white;
  font-size: 20px;
}

header .header-bot .container ul {
  width: 8%;
}

header .header-bot .container ul li {
  position: relative;
}

header .header-bot .container ul li i {
  color: white;
  font-size: 30px;
}

header .header-bot .container ul li span {
  position: absolute;
  top: -5px;
  left: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #266BF9;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

header nav {
  background-color: #266BF9;
  width: 55%;
  height: 50px;
  position: absolute;
  z-index: 10;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-15px);
          transform: translateX(-50%) translateY(-15px);
}

header nav .circle-1, header nav .circle-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  background-color: #266BF9;
}

header nav .circle-1 .sub-circle, header nav .circle-2 .sub-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #212529;
}

header nav .circle-1 {
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header nav .circle-2 {
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

header nav .menu {
  height: 100%;
  width: 70%;
}

header nav .menu > li {
  height: 100%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

header nav .menu > li a, header nav .menu > li div {
  font-size: 24px;
  color: white;
}

header nav .menu > li a i, header nav .menu > li div i {
  font-size: 20px;
}

header nav .menu > li:hover {
  background-color: #0847c5;
}

header nav .menu .home, header nav .menu .shop {
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
}

header nav .menu .home .dropdown, header nav .menu .shop .dropdown {
  z-index: 11;
  padding: 20px;
  min-width: 200px;
  background-color: white;
  position: absolute;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  top: 50px;
  left: 0;
  display: none;
}

header nav .menu .home .dropdown li, header nav .menu .shop .dropdown li {
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

header nav .menu .home .dropdown li:hover, header nav .menu .shop .dropdown li:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

header nav .menu .home .dropdown li:hover a, header nav .menu .shop .dropdown li:hover a {
  color: #266BF9;
}

header nav .menu .home .dropdown li a, header nav .menu .shop .dropdown li a {
  color: #5a5454;
  font-size: 20px;
}

header nav .menu .shop .dropdown {
  left: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 50px 0px;
  border-bottom-right-radius: 20px;
}

header nav .menu .shop .dropdown li {
  width: 100px;
  margin: 0px 20px;
}

header nav .menu .shop .dropdown li:hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header nav .menu .shop .dropdown li:hover a {
  color: #5a5454;
}

header nav .menu .shop .dropdown li ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}

header nav .menu .shop .dropdown li ul li {
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 100%;
  overflow: hidden;
}

header nav .menu .shop .dropdown li ul li:hover {
  padding-left: 10px;
}

header nav .menu .shop .dropdown li ul li:hover a {
  color: #266BF9;
}

header nav .menu .shop .dropdown li ul li:first-child {
  font-size: 24px;
  font-weight: bold;
}

header nav .menu .shop .dropdown li ul li:first-child:hover {
  padding-left: 0;
}

header nav .menu .shop .dropdown .cc {
  width: 300px;
}

header nav .menu .shop .dropdown .cc .image {
  border: 1px solid #c4c4c4;
  width: 300px;
  overflow: hidden;
}

header nav .menu .shop .dropdown .cc .image img {
  width: 300px;
  height: 150px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

header nav .menu .shop .dropdown .cc .image img:hover {
  -webkit-transform: scale(1.2) rotate(15deg);
          transform: scale(1.2) rotate(15deg);
}

.slider {
  height: 500px;
}

.slider .slide {
  height: 100%;
  position: relative;
}

.slider .slide .text {
  width: 100%;
  position: absolute;
  top: 35%;
  left: 10%;
  -webkit-animation: shaky 1s infinite alternate;
          animation: shaky 1s infinite alternate;
}

.slider .slide .text .container {
  height: 150px;
}

.slider .slide .text .container p {
  color: white;
}

.slider .slide .text .container h1 {
  font-size: 36px;
  color: white;
  width: 40%;
}

.slider .slide .text .container button {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 20%;
  padding: 20px;
  background: none;
  border: 1px dashed white;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 50px;
}

.slider .slide .text .container button:hover {
  border-color: red;
}

.slider .slide .text .container button a {
  font-size: 24px;
  color: white;
  font-style: italic;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slider .slide .text .container button a:hover {
  color: red;
}

.slider .slide img {
  height: 500px;
}

.slider .owl-dots {
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider .owl-dots button.owl-dot.active span {
  background-color: blue !important;
}

.slider .owl-nav {
  position: absolute;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider .owl-nav .owl-prev, .slider .owl-nav .owl-next {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50% !important;
  background-color: white !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slider .owl-nav .owl-prev:hover, .slider .owl-nav .owl-next:hover {
  background-color: purple !important;
}

.slider .owl-nav .owl-prev:hover span, .slider .owl-nav .owl-next:hover span {
  color: white;
}

.slider .owl-nav .owl-prev span, .slider .owl-nav .owl-next span {
  color: black;
  font-size: 30px;
}

.products {
  padding: 50px 0px;
}

.products .container .left, .products .container .right {
  height: 400px;
}

.products .container .left .item, .products .container .right .item {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #F2F8FD;
}

.products .container .left .item img, .products .container .right .item img {
  max-width: 300px;
  max-height: 300px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.products .container .left .item img:hover, .products .container .right .item img:hover {
  -webkit-transform: scale(1.2) rotate(15deg);
          transform: scale(1.2) rotate(15deg);
}

.products .container .left .item .text, .products .container .right .item .text {
  height: 70%;
}

.products .container .left .item .text h2, .products .container .right .item .text h2 {
  color: #999DA0;
  font-size: 36px;
}

.products .container .left .item .text h3, .products .container .right .item .text h3 {
  font-weight: normal;
  color: #161660;
  font-size: 20px;
}

.products .container .left .item .enter, .products .container .right .item .enter {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #266CF9;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.products .container .left .item .enter a, .products .container .right .item .enter a {
  color: white;
}

.products .container .left .item .enter:hover, .products .container .right .item .enter:hover {
  background-color: white;
}

.products .container .left .item .enter:hover a, .products .container .right .item .enter:hover a {
  color: red;
}

.products .container .left {
  width: 40%;
}

.products .container .left .enter {
  bottom: 5%;
  right: 10%;
}

.products .container .right {
  width: 58%;
}

.products .container .right .item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 48%;
}

.products .container .right .item .text {
  margin-right: 50px;
}

.products .container .right .item .enter {
  bottom: 10%;
  left: 15%;
}

.trending .container h2.title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
}

.trending .container .owl-carousel .item {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  width: 90%;
  border: 2px solid #c4c4c4;
  border-radius: 10%;
}

.trending .container .owl-carousel .item img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.trending .container .owl-carousel .item img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.trending .container .owl-carousel .item .text {
  text-align: center;
}

.trending .container .owl-carousel .item .text h3 {
  color: red;
  font-weight: normal;
}

.trending .container .owl-carousel .item button {
  padding: 10px;
  background-color: #266CF9;
  border: none;
  border-radius: 10px;
  width: 60%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.trending .container .owl-carousel .item button:hover {
  background-color: red;
}

.trending .container .owl-carousel .item button a {
  color: white;
}

.trending .container .owl-carousel .item:first-child {
  margin-left: 20px;
}

.trending .container .owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trending .container .owl-nav .owl-prev i, .trending .container .owl-nav .owl-next i {
  color: #9c9797;
  font-size: 50px;
}

.our-products {
  background-color: #F2F8FD;
  padding: 50px 0px;
}

.our-products .title {
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 20px;
  padding: 20px 0px;
}

.our-products .title .left h2 {
  font-size: 36px;
}

.our-products .title .right {
  width: 45%;
}

.our-products .title .right button {
  padding: 5px;
  width: 30%;
  border-radius: 15px;
  border: 1px solid #266CF9;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.our-products .title .right button a {
  color: #666666;
}

.our-products .title .right button:hover {
  background-color: #266CF9;
  border: none;
}

.our-products .title .right button:hover a {
  color: white;
}

.our-products .owl-carousel {
  position: relative;
}

.our-products .owl-carousel .items {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-products .owl-carousel .items .item {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  width: 90%;
  border: 2px solid #c4c4c4;
  border-radius: 5%;
}

.our-products .owl-carousel .items .item img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.our-products .owl-carousel .items .item img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.our-products .owl-carousel .items .item .text {
  text-align: center;
}

.our-products .owl-carousel .items .item .text h3 {
  color: red;
  font-weight: normal;
}

.our-products .owl-carousel .items .item button {
  padding: 10px;
  background-color: #266CF9;
  border: none;
  border-radius: 10px;
  width: 60%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.our-products .owl-carousel .items .item button:hover {
  background-color: red;
}

.our-products .owl-carousel .items .item button a {
  color: white;
}

.our-products .owl-carousel .items .item:first-child {
  margin-bottom: 20px;
}

.our-products .owl-carousel .owl-nav {
  position: absolute;
  top: 47%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-products .owl-carousel .owl-nav .owl-prev, .our-products .owl-carousel .owl-nav .owl-next {
  background: none !important;
}

.our-products .owl-carousel .owl-nav .owl-prev i, .our-products .owl-carousel .owl-nav .owl-next i {
  color: #9c9797;
  font-size: 50px;
}

.sale .container .item {
  width: 49%;
  background-color: #CBD0F8;
  padding: 10px 30px;
}

.sale .container .item .left {
  width: 50%;
}

.sale .container .item .left p {
  color: red;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
  font-size: 20px;
}

.sale .container .item .left button {
  margin-top: 20px;
  margin-left: 20px;
  background-color: #679436;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.sale .container .item .left button:hover {
  background-color: red;
}

.sale .container .item .left button a {
  color: white;
}

.sale .container .item .right {
  width: 50%;
}

.sale .container .item .right img {
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.sale .container .item .right img:hover {
  -webkit-transform: rotateY(45deg);
          transform: rotateY(45deg);
}

.beautiful-products {
  padding: 50px 0px;
}

.beautiful-products .text {
  width: 35%;
}

.beautiful-products .text h2, .beautiful-products .text p {
  padding: 10px;
}

.beautiful-products .text button {
  margin-left: 20px;
  width: 30%;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #70FF00;
  position: relative;
  border-radius: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.beautiful-products .text button:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.beautiful-products .text button a {
  color: white;
  font-family: 24px;
  font-weight: bold;
}

.beautiful-products .picture {
  width: 60%;
  max-height: 300px;
  border-radius: 20px;
  overflow: hidden;
}

.beautiful-products .picture img {
  width: 100%;
  max-height: 300px;
  border-radius: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.beautiful-products .picture img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.gallery p {
  width: 50%;
  text-align: center;
}

.gallery .items {
  padding: 50px 0px;
}

.gallery .items .row .item {
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.gallery .items .row .item:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.gallery .items .row .item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.review .container h2 {
  padding: 10px 0px;
  width: 20%;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 20px;
}

.review .container .item {
  width: 95%;
  background-color: #E5E5E5;
  padding: 20px 30px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

.review .container .item p.mess {
  width: 90%;
  text-align: center;
  margin-bottom: 30px;
}

.review .container .item .info {
  width: 100%;
}

.review .container .item .info .left {
  width: 30%;
}

.review .container .item .info .left img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.review .container .item .info .left img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.review .container .item .info .right {
  width: 70%;
}

.review .container .item .info .right h3 {
  color: #70FF00;
}

.review .container .owl-carousel {
  position: relative;
}

.review .container .owl-carousel .owl-nav {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review .container .owl-carousel .owl-nav .owl-prev, .review .container .owl-carousel .owl-nav .owl-next {
  background: white !important;
  opacity: 0.5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.review .container .owl-carousel .owl-nav .owl-prev i, .review .container .owl-carousel .owl-nav .owl-next i {
  color: #9c9797;
  font-size: 30px;
}

.review .container .owl-carousel .owl-dots {
  margin-top: 30px;
}

.material-blog .material, .material-blog .blogs {
  width: 40%;
  padding: 10px 0px;
}

.material-blog .material .title, .material-blog .blogs .title {
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 20px;
}

.material-blog .material .items, .material-blog .blogs .items {
  width: 100%;
  padding: 15px;
  border: 1px solid #c4c4c4;
}

.material-blog .material .items .item, .material-blog .blogs .items .item {
  width: 100%;
  background-color: #c4c4c4;
  margin-bottom: 20px;
}

.material-blog .material .items .item img, .material-blog .blogs .items .item img {
  width: 200px;
  height: 200px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.material-blog .material .items .item img:hover, .material-blog .blogs .items .item img:hover {
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
}

.material-blog .material .items .item .text p, .material-blog .blogs .items .item .text p {
  color: red;
  font-weight: bold;
}

.material-blog .blogs {
  width: 55%;
}

.material-blog .blogs .items {
  width: 100%;
  border: none;
}

.material-blog .blogs .items .item {
  width: 100%;
  background-color: white;
}

.material-blog .blogs .items .item img {
  width: 100%;
  -webkit-filter: grayscale(0.3);
          filter: grayscale(0.3);
}

.material-blog .blogs .items .item img:hover {
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.material-blog .blogs .items .item .text {
  margin-top: 20px;
}

.material-blog .blogs .items .item .text span {
  color: #c4c4c4;
}

.material-blog .blogs .items .item .text p {
  color: black;
}

footer {
  background-color: #F2F8FD;
  padding: 50px 0px 0px 0px;
}

footer .top {
  width: 100%;
}

footer .top .row .item:first-child li {
  margin-bottom: 20px;
}

footer .top .row .item:first-child li:first-child img {
  width: 100px;
  height: 100px;
}

footer .top .row .item:first-child li span {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background-color: #504d4d;
  padding: 10px;
  border-radius: 10px;
}

footer .top .row .item:first-child li span i {
  font-size: 20px;
  color: white;
}

footer .top .row .item li {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .top .row .item li:first-child {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #504d4d;
}

footer .top .row .item li:hover {
  margin-left: 10px;
}

footer .top .row .item li:hover a {
  color: #266CF9;
}

footer .top .row .item li a {
  color: black;
  font-size: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .bot {
  background-color: #ddc3c3;
  padding: 20px 0px;
}

footer .bot p {
  color: #4b4747;
  font-size: 18px;
}

footer .bot p span {
  font-weight: bold;
}

footer .bot p a {
  color: #4b4747;
}

footer .bot p a:hover {
  color: #266CF9;
}
/*# sourceMappingURL=style.css.map */